<?xml version="1.0" ?>
<project-config>
	
	<!--required -->
	<model-file>/myMine/dbmodel/build/model/genomic_model.xml</model-file>

	<source name="rat-genes">
		<remote-file>ftp://rgd.mcw.edu/pub/data_release/GENES_RAT</remote-file>
		<destination>GENES_RAT</destination> <!--optional tmp file to create for preprocessing -->
		<scripts> <!-- optional, preprocessing scripts to run on data -->
			<script script="perl rgd-genes-to-xml.pl">
				<!-- 
				configure script options.  
				types of options 
					model = uses the value found in model-file node
					input = uses the value found in the destination node
					output = uses either the src.data.Dir or src.data.File from project.xml
					custom = uses whatever value is entered into the option node
					flag = denotes a flag option, i.e. has no value
					
				name should be the name of the option determined by the script.
				custom types require a value 
					(e.g. <option type="custom" name="example">example_value</option>)
					
				-->
				<option type="model" name="model" />
				<option type="input" name="rgd_genes" />
				<option type="output" name="output_file" />
			</script>
		</scripts>
		
		<source name="uniprot-rat">
			<!-- this source already has a data download script -->
			<scripts>
				<script script="perl get_and_split_uniprot.pl">
					<option type="custom" name="taxon">10116</option>
					<option type="output" name="output_dir" />
				</script>
			</scripts>
		</source>
		
		<source name="go">
			<!-- most basic example -->
			<remote-file>http://www.geneontology.org/ontology/obo_format_1_2/gene_ontology.1_2.obo</remote-file>
		</source>

		<source name="go-annotation">
			<!-- more advanced example -->
			<remote-file>http://cvsweb.geneontology.org/cgi-bin/cvsweb.cgi/go/gene-associations/gene_association.rgd.gz?rev=HEAD</remote-file>
			<destination>gene_association.rgd.gz</destination>
			<scripts>
				<!-- scripts make UNIX command calls -->
				<script script="gzip -d -f">
					<option type="input"/>
				</script>
				<script script="sort -k 2,2">
					<option type="custom">gene_association.rgd</option>
					<option type="custom">&gt;</option>
					<option type="custom">ratmine_src_data/go-annotation/gene_association.rgd</option>
				</script>
			</scripts>
		</source>
		
	</source>
	
</project-config>